.sidebar {
    position: fixed; 
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #ddd;
    overflow-y: auto; 
    padding: 15px;
    z-index: 1040; 
}

@media (max-width: 991.98px) {
    .sidebar {
      display: none; 
    }
}